Source: libapache2-mod-maxminddb-ztk
Standards-Version: 4.5.1
Section: httpd
Priority: optional
Build-Depends: debhelper (>= 10),
               apache2-dev,
               dh-apache2,
               libapr1-dev,
               libmaxminddb-dev
Maintainer: Christoph Zysik <support@ztk.me>

Package: libapache2-mod-maxminddb-ztk
Homepage: https://github.com/cztk/mod_maxminddb_ztk
Architecture: amd64
Depends: apache2, libmaxminddb0, libapr1
Description: Provides IP2Country feature for apache
  Provides IP2Country feature for apache modified to support
  multiple sources of IPs from query string.