Maintainer: Christoph Zysik <support@ztk.me>
Section: httpd
Priority: optional

Package: libapache2-mod-maxminddb-ztk
Standards-Version: 4.5.1
Homepage: https://github.com/cztk/mod_maxminddb_ztk
Version: 0:1.2.0-5
Architecture: amd64
Build-Depends: debhelper (>= 10),
               apache2-dev,
               dh-apache2,
               libapr1-dev,
               libmaxminddb-dev
Depends: apache2, libmaxminddb0, libapr1
Recommends:
Description: Provides IP2Country feature for apache
  Provides IP2Country feature for apache modified to support
  multiple sources of IPs from query string.
Distribution: focal